extends layout

block content
    
    if user
        h2 Welcome #{user.firstName}!
    else
        h2 Welcome!
        
    .page-container
        .dashboard-container    
            h3 Appliance Inventory

            if appliances && appliances.length
                ul.appliance-list
                    each item in appliances
                        li.appliance-item
                            .item-name #{item.name}
                            .item-price $#{item.price}
            else
                p No appliances available.
