extends layout

block content
    .page-container
        .dashboard-container
            if user
                h2 Welcome #{user.firstName}!
            else
                h2 Welcome!

            h3 Appliance Inventory

            if appliances && appliances.length
                ul.appliance-list
                    each item in appliances
                        li.appliance-item
                            .item-name #{item.name}
                            .item-price $#{item.price}
            else
                p No appliances available.
