doctype html
html
    head 
        title= title
        link(rel="stylesheet", href="/css/style.css")

    body 
        header
            h1 Appliance Store 
            nav
                if currentUser
                    a(href="/dashboard") Dashboard |
                    a(href="/profile") Profile |
                    a(href="/logout") Logout
                else
                    a(href="/login") Login |
                    a(href="/register") Register 
        main
            block content