extends layout

block content
    .page-container
        .login-container
            h2 Login 
            form(method="POST", action="/login")
                .input-group
                    label(for="email") Email
                    input(type="email", name="email", required)

                .input-group
                    label(for="password") Password
                    input(type="password", name="password", required)
    
                button(type="submit") Login

            p.register-link
                | Don't have an account?
                a(href="/register") Create one
