extends layout

block content
    .page-container
        .login-container
            h2 Register 

            if error
                p #{error}

            if message
                p #{message}

            form(method="POST", action="/register")
                .input-group
                    label(for="email") Email
                    input(type="email", name="email", id="email", required)

                .input-group
                    label(for="firstName") First Name
                    input(type="text", name="firstName", id="firstName", required)

                .input-group
                    label(for="middleName") Middle Name (optional)
                    input(type="text", name="middleName", id="middleName")

                .input-group
                    label(for="lastName") Last Name
                    input(type="text", name="lastName", id="lastName", required)

                .input-group
                    label(for="password") Password
                    input(type="password", name="password", id="password", required)

                button(type="submit") Create Account

            p Already have an account?
                a(href="/login") Login
